server:
  shutdown: graceful
  port: 8080

jwt:
  secret:
    key: ${SECRET_KEY}

spring:
  cloud:
    gateway:
#      globalcors:
#        add-to-simple-url-handler-mapping: true
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins:
#              - "http://152.67.211.72"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"
#            allowCredentials: true
      routes:
        - id: product-service-public
          predicates:
            - Path=/public/**, /swagger-ui/**, /docs-ui/**, /docs-api/**, /v3/**
          uri: http://product-service:8080
          filters:
            - RewritePath=/public/(?<segment>.*), /${segment}

        - id: product-service-with-authentication
          predicates:
            - Path=/product/**
          uri: http://product-service:8080
          filters:
            - RewritePath=/product/(?<segment>.*), /${segment}
            - name: JwtAuthenticationFilter
              args:
                secretKey: ${jwt.secret.key}

        - id: member-service-with-authentication
          predicates:
            - Path=/member/**
          uri: http://product-service:8080
          filters:
            - RewritePath=/member/(?<segment>.*), /$\{segment}
            - name: JwtAuthenticationFilter
              args:
                secretKey: ${jwt.secret.key}

        - id: order-service-with-authentication
          predicates:
            - Path=/order/**
          uri: http://product-service:8080
          filters:
            - RewritePath=/order/(?<segment>.*), /$\{segment}
            - name: JwtAuthenticationFilter
              args:
                secretKey: ${jwt.secret.key}

        - id: payment-service-with-authentication
          predicates:
            - Path=/payment/**
          uri: http://product-service:8080
          filters:
            - RewritePath=/payment/(?<segment>.*), /$\{segment}
            - name: JwtAuthenticationFilter
              args:
                secretKey: ${jwt.secret.key}

        - id: token-service
          predicates:
            - Path=/token/**
          uri: http://token-service:8080
          filters:
            - RewritePath=/token/(?<segment>.*), /$\{segment}